---
import Layout from "@layouts/Layout.astro";
import About from "@sections/About.astro";
import Services from "@sections/Services.astro";
import Contact from "@sections/Contact.astro";
import Gallery from "@sections/Gallery.astro";
---

<Layout title="Simbiosis peluquería">
  <main>
    <About />
    <Services />
    <Contact />
    <Gallery />
  </main>
</Layout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main-section {
    scroll-margin-top: 60px;
  }

  body {
    --sb-track-color: #0000000a;
    --sb-thumb-color: #03ffff;
    --sb-size: 8px;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
</style>
