---
interface Props {
  class?: string;
}
---

<div
  class={`rounded-lg border bg-card text-card-foreground shadow-sm overflow-hidden ${Astro.props.class}`}
  data-id="24"
  data-v0-t="card"
>
  <slot name="header" />
  {
    Astro.slots.has("content") && (
      <div class="p-4" data-id="26">
        <slot name="content" />
      </div>
    )
  }
</div>
