---
import Button from "@components/Button.astro";
---

<section
  id="about"
  class="w-full py-12 md:py-24 lg:py-32 xl:py-48 bg-black text-white flex justify-center"
>
  <div class="container px-4 md:px-6">
    <div class="flex flex-col items-center space-y-4 text-center">
      <div class="space-y-2">
        <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl/none -mb-2">
          <span class="font-square tracking-[4px]">SIMBIOSIS</span>
        </h1>
        <span
          class="text-center -pt-9 font-square text-xl tracking-[5.5px] pl-[1.6px] sm:text-2xl sm:tracking-[5.8px] md:text-3xl md:tracking-[7.8px] md:pl-[3.6px] lg:text-4xl lg:tracking-[9.7px] lg:pl-[5.8px]"
        >
          PELUQUERIA
        </span>
        <p class="mx-auto max-w-[700px] text-gray-400 md:text-xl">
          Centro de estética unisex con estilistas profesionales y productos de
          calidad internacional.
        </p>
      </div>
      <div class="space-x-4">
        <Button label="Reservar turno" />
        <Button
          label="Nuestros servicios"
          variant="secondary"
          href="#services"
          class="text-white border-white hover:bg-white hover:text-black"
        />
      </div>
    </div>
  </div>
</section>
