---
import Button from "@components/Button.astro"
---

<section class="main-section flex gap-8" id="about">

	<img src="/img/hair-salon.webp" class="object-contain h-fit" width={400} />
	<article class="flex flex-col place-content-between">
		<h1 class="font-bold text-5xl"><span class="font-square">SIMBIOSIS</span> desde 2004 </h1>
		<p class="text-pretty mt-2">SIMBIOSIS es un centro de estética unisex supervisado por sus dueños y atendido por estilistas profesionales que utilizan los mejores productos del mercado internacional para el cuidado de tu belleza integral. Acércate o encuéntranos en nuestras redes sociales para conocer las novedades que nuestro equipo tiene para ofrecerte. Te esperamos!</p>
		<Button label="Conocé más" fullWidth class="mt-8"/>
	</article>
		<!-- <p class="text-center font-square text-4xl tracking-[4px]">SIMBIOSIS</p>
	<p class="text-center font-square text-base tracking-[10.5px] pl-1">PELUQUERIA</p> -->
</section>
